.user-layout {
  min-height: 100vh;
}

.user-content {
  min-height: calc(100vh - 64px - 70px);
  background: #fff;
}

.user-footer {
  text-align: center;
  background: #f0f0f0;
  padding: 24px 0;
}




